<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Shares</h4>
            </div>
            <div class="modal-body">
                <button id="add-share" class="btn btn-primary center-hor" style="margin-bottom: 20px">Add share</button>

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Shares list</div>

                    <!-- Table -->
                    <table class="table table-striped">
                        <thead>
                        <tr><th>#</th><th>Url</th><th>Remove</th></tr>
                        </thead>
                        <tbody id="shares-table"></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>