{% extends "generic_not_authorized.html" %}

{% block title %}Sign up{% endblock %}

{% block head %}
    <script language='javascript' type='text/javascript'>
        function check(input) {
            if (input.value != document.getElementById('password1').value) {
                input.setCustomValidity('The two passwords must match.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign Up</h3>
                    </div>
                    <div class="panel-body">
                        <img style="height: 64px;width: 64px;display: block;margin: 0 auto 20px;"
                             src="/static/img/icon_128.png">
                        {% if error_message %}
                            <div class="alert alert-danger" id="error_message">{{ error_message|safe }}</div>
                        {% endif %}
                        <form action="/signup/" method="post" role="form">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" name="username"
                                           required
                                           autofocus>
                                </div>

                                <div class="form-group"><input type="password" id="password1" class="form-control"
                                                               placeholder="Password"
                                                               name="password1" required>
                                </div>

                                <div class="form-group"><input type="password" class="form-control"
                                                               placeholder="Retype password"
                                                               name="password2"
                                                               oninput="check(this)" required>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                            </fieldset>
                        </form>
                        <div style="margin: 30px">
                            <div style="height: 2px; vertical-align: middle; background-color: #bbb; text-align: center">
                <span style="padding: 0 10px 0 10px; background-color: white; color: #777; position: relative; top: -0.5em;">
                    OR
                </span>
                            </div>
                        </div>
                        <a href="/signin/" class="btn btn-lg btn-success btn-block">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}